body {
  background-color: rgb(146, 183, 246) !important;
}

.app {
  color: white;
  width: 40% !important;
  border-radius: 20px;
  padding: 15px;
  margin: 30px auto;
  background-color: rgb(61, 61, 174);
  box-shadow: 1px 2px 5px black;
}

.app img {
  width: 85%;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.app button {
  margin: 20px 0;
  border-radius: 10px;
  font-size: x-large;
}

.app input {
  margin: 15px 0;
  border-radius: 8px;
}
li {
  position: relative;
}
.remove {
  position: absolute;
  right: 6px;
  top: 11px;
}
